name: CI
on:
  schedule:
    - cron: "0 10 * * 6"
  pull_request:
    branches:
      - master
  push:
    branches-ignore:
      - master

env:
  repositoryName: terraform-aws-efs
  terraformVersion: 1.0.1
  goVersion: 1.16

concurrency: ${env.repositoryName}

jobs:

  build:
    name: Build Container
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Setup Terraform  
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${env.terraformVersion}
          terraform_wrapper: false
      
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${env.goVersion}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Run the Tests
        run: cd ./test; go test -v
